absl-py
argon2-cffi
astor
async-generator
attrs
backcall
#beta
bleach
certifi
cffi
chardet
cycler
decorator
defusedxml
entrypoints
gast
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipythonblocks
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
mistune
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
#pkg-resources
prometheus-client
prompt-toolkit
protobuf
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML
pyzmq
qtconsole
QtPy
requests
scipy
Send2Trash
six
sortedcontainers
tensorboard
tensorflow
tensorflow-estimator
termcolor
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
zipp
